<section class="section">
  <div class="container">
    <h1 class="title is-3">All Platforms</h1>
    <div class="columns is-centered">
      <div class="column">
        <ul>
          <% @platforms.each do |p| %>
          <li>
            <%= link_to "#{p.manufacturer} - #{p.name} (#{p.games.count})", platform_path(p) %>
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_platform_path(p), class:"button is-small is-rounded" %>
              <%= link_to 'Delete', p, method: :delete, data: { confirm: "Are you sure? "}, class:"button is-small is-rounded is-danger" %>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <p class="control">
      <%= link_to 'Add Platform', new_platform_path, class: "button is-dark" %>
    </p>
  </div>
</section>