<div id="content">
  <h3 class="title is-3 has-text-centered">
    <%= @platform.name %>
  </h3>

  <div class="game-list">
    <ul>
      <% @games.each do |g| %>
      <%= render partial: "games/game", locals: {game: g} %>
      <% end %>
    </ul>
  </div>
</div>