<section class="section">
  <div class="title-icon">
    <% if asset_exist?("monochrome/#{@platform.manufacturer} - #{@platform.name}.png") %>
    <%= image_tag "monochrome/#{@platform.manufacturer} - #{@platform.name}.png" %>
    <% end %>
  </div>
  <h3 class="title is-3 has-text-centered">
    <%= @platform.name %>
  </h3>

  <div class="game-list">
    <ul>
      <% @games.each do |g| %>
      <%= render partial: "games/game", locals: {game: g} %>
      <% end %>
    </ul>
  </div>
</section>