<li id="item">
  <div class="cover">
    <span class="item-cover"></span>
    <% if game.thumbnail.attached? %>
      <%= link_to image_tag(game.thumbnail), game %>
    <% end %>
  </div>
  <span class="item-title"><%= game.title %></span>
  <div class="icons">
    <div class="rating">
      <%= render partial: "games/rating_static", locals: {rating: game.rating.to_i} %>
    </div>
  </div>
</li>