<div class='rating-stars'>
  <ul id='stars'>
    <% (0..4).each do |i| %>
      <% if (i < rating) %>
        <li class='star selected'>
          <i class='fa fa-star fa-fw'></i>
        </li>
      <% else %>
        <li class='star'>
          <i class='fa fa-star fa-fw'></i>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>