<div class="section">
  <div class="container">
    <div class="columns is-centered">

      <div class="column is-4">
        <h2 class="title is-2">Edit Game</h2>

        <%= render 'form', game: @game %>

        <%= link_to 'Show', @game %> |
        <%= link_to 'Back', games_path %>
      </div>
    </div>
  </div>
</div>