<section class="section">
  <h3 class="title is-3 has-text-centered">
    Recently completed
  </h3>

  <div class="game-list">
    <ul>
      <%= render @games_completed %>
    </ul>
     <br class="clear">
  </div>
 

  <h3 class="title is-3 has-text-centered">
    Last additions
  </h3>

  <div class="game-list">
    <ul>
      <%= render @games_recent %>
    </ul>
    <br class="clear">
  </div>
  
</section>