<section class="section">
  <div class="columns is-centered">
    <div class="column is-6">
      <h1 class="title is-3">New Game</h1>
      <%= render 'form', game: @game %>
    </div>
  </div>
</section>
